server:
  port: 9001

spring:
  application:
    name: eureka-client

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:9000/eureka
    register-with-eureka: true
    fetch-registry: true